// Place all the styles related to the texts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
 width: 100%;
 margin: 0px;
 padding: 0px;
 clear: both;
 position: relative;
 height: 100%;
 height: auto !important;
 min-height: 100%;
}

.row{
 width: 100%;
 margin: auto;
 padding-bottom: 100px;
}

h1 {
 font-size: 65px;
 font-family: Impact,Charcoal;
}

.tweet-box {
 background:#F8F8FF; 
 border: 3px double #ddd;
 padding: 10px;
 margin-top: 5px;
 display: block;
 text-align: right;
 > p {
  text-align: left;
  word-wrap: break-word
 } 
}

.confirm-btn{
 float: left;
 margin: 5px;
 margin-left: 40%;
}

.confirm-btn2{
 float: left;
 margin: 5px;
}

.confirm-box{
  width: 100%;
  background:#F8F8FF; 
  border: 3px double #ddd;
  display: block;
}

